Food/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategoryWithProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryWithProduct" nillable="true" type="tns:CategoryWithProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryWithProduct" nillable="true" type="tns:ArrayOfCategoryWithProduct" />
  <xs:complexType name="CategoryWithProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="poductList" nillable="true" type="tns:ArrayOfProductElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryWithProduct" nillable="true" type="tns:CategoryWithProduct" />
  <xs:complexType name="ArrayOfProductElement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductElement" nillable="true" type="tns:ProductElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductElement" nillable="true" type="tns:ArrayOfProductElement" />
  <xs:complexType name="ProductElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Descriptions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dimensions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Visibility" type="xs:boolean" />
      <xs:element minOccurs="0" name="Weight" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductElement" nillable="true" type="tns:ProductElement" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardCVV2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdCustomer" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="products" nillable="true" type="tns:ArrayOfProductElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
</xs:schema>